.title {
    text-align: center;
    margin-top: 5%;
}

.author {
    text-align: center;
    margin-left: 30%;
    padding: 1%;
}

.social {
    position: absolute;
    bottom: 0;
    /* background: black; */
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
}

.social a {
    padding: 0 1%;
}

.enter-wrap {
    text-align: center;
}

.enter-btn {
    margin: auto;
    margin-top: 6%;
}